<div class="flex-wrap-movielist">
	@foreach (var movie in Movies)
	{
	<div class="movie-item-style-2 movie-item-style-1">
		<img src="@movie.Image" alt="">
		<div class="hvr-inner">
 			<a  href="#"> Ver mas <i class="ion-android-arrow-dropright"></i> </a>
		</div>
		<div class="mv-item-infor">
			<h6><a href="#">@movie.MovieName</a></h6>
			<p class="rate"><i class="ion-android-star"></i><span>@movie.Score</span> /10</p>
		</div>
	</div>
	}					
</div>

@code {
    [Parameter] public List<Movie> Movies { get; set; }
}
