
<div class="slider movie-items">
	<div class="container">
		<div class="row">
			<div class="social-link">
				<p>Siguenos: </p>
				<a href="#"><i class="ion-social-instagram"></i></a>
				<a href="#"><i class="ion-social-twitter"></i></a>
				<a href="#"><i class="ion-social-facebook"></i></a>
				<a href="#"><i class="ion-social-youtube"></i></a>
			</div>
	    	<div  class="slick-multiItemSlider">
	    		@foreach (var movie in Movies)
				{
					<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src=@movie.Image alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
							@foreach (var category in movie.Category){
	    					<span class="@tags[category]"><a href="#">@category</a></span>
							}
	    				</div>
	    				<h6><a href="#">@movie.MovieName</a></h6>
	    				<p><i class="ion-android-star"></i><span>@movie.Score</span> /10</p>
	    			</div>
	    		</div>
				}
	    	</div>
	    </div>
	</div>
</div>

@code {
	Dictionary<string, string> tags = new Dictionary<string, string>(){
		{"accion","red"},
		{"aventura","orange"},
		{"animacion","cian"},
		{"comedia","yell"},
		{"drama","purple"},
		{"fantasia","pink"},
		{"romance","pink"},
		{"suspenso","gray"},
		{"sci-fi","blue"},
		{"terror","black"}

	};
    [Parameter] public List<Movie> Movies { get; set; }
}
